#Section1 {
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;

    img {
        width: 100%;
        height: 550px;
        

    }
    .img1{
        border-radius: 10px;
    }

    .left {
        position: relative;

        .left-text {
            position: absolute;
            top: 20%;
            left: 10%;

            h1 {
                font-weight: bold;
                width: 70%;
                font-size: 50px;
            }

            .top {
                    .span-offer{
                        font-size: 13px;
                    }
                    .spercent{
                        
                        border-radius: 40px;
                        padding: 5px 9px;
                        color: green;
                        background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
                    }
               

            }
            .center1{
                h1{
                    margin: 20px 0;
                }
            }
            .center2{
                margin-bottom: 20px;
            }
            .center3{
                margin-bottom: 20px;
            }
        }

        .bottom {
            margin: 30px 0;

            a {
                text-align: center;
                background-color: #2BBEF9;
                color: white;
                padding: 10px 14px;
                border-radius: 40px;

                i {
                    margin-left: 5px;
                }
            }
        }
    }

}
#Section2 {
    font-family: Arial, Helvetica, sans-serif;
    img {
        width: 100%;
        border-radius: 10px;
        height: 270px;
    }

    .left,
    .right {
        position: relative;

        .text {
            position: absolute;
            top: 30%;
            left: 55%;

            a {
                text-align: center;
                background-color: #233A95;
                color: white;
                font-size: 14px;
                padding: 8px 18px;
                border-radius: 40px;

            }
            p{
                margin-top: 10px;
                &:nth-child(2){
                    font-weight: bold;
                    font-size: 1.875rem;
                }
                &:nth-child(1){
                    font-size: 1.5rem;
                }
                &:nth-child(3){
                    font-size: 0.75rem;
                    color: gray;
                    margin-bottom: 20px;
                }
            }
        }

    }


}
#Section3,#Section6,#Section9 {
    font-family: Arial, Helvetica, sans-serif;
    .left{
        h5{
            font-weight: bold;
        }
        p{
            font-size: 13px;
            margin-top: 10px;
            color: gray;
        }
    }
    .right {
        a {
            text-align: center;
            color: rgb(112, 112, 112);
            font-size: 14px;
            padding: 7px 18px;
            border: 1px solid rgba(128, 128, 128, 0.726);
            border-radius: 40px;

            i {
                margin-left: 5px;
            }
        }
        
    }
}
#Section4 {

    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    .btn-cart {
        padding: 8px 60px;
        background-color: #FFCD00;
        border-radius: 40px;
    }
    
    ul{
        li{
            i{
                font-size: 12px;
                color: #FFCD00;
            }

            &:nth-child(3){
                span{
                    &:nth-child(1){
                        color: gray;
                        font-size: 12px;
                    }
                    &:nth-child(2){
                        color: #D51243;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
            }
          
        }
      
    }
   

        

      

}
#Section5{
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;

    .text {
        // padding: 0 25px;
        border-radius: 10px;
        background-color: #F8EFEA;
        height: 100px;
        position: relative;
        overflow: hidden;

        .secure {
            img{
                width: 70%;
            }
            position: absolute;
            height: 100%;
            right: 20%;
            top: 0;

        }
        .middle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .right{
                text-align: end;
                a {
                    text-align: center;
                    background-color: #00B853;
                    color: white;
                    font-size: 14px;
                    padding: 7px 15px;
                    border-radius: 40px;
        
                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
        

    

    }
}
#Section7{
    font-family: Arial, Helvetica, sans-serif;
    .all{
        padding-left: 0 !important;
        border: 0.1px solid rgba(221, 221, 221, 0.623);
        border-radius: 10px;

        .left-box{
             background-image: url("/image/category-banner-1.jpg");
             background-position: center;
             background-size: cover;
             border-top-left-radius: 10px;
             position: relative;
        
            .text{
                
               position: absolute;
               top: 10%;
               left: 10%;
                
                p{
                    margin: 20px 0;
                    &:nth-child(1){
                        font-size: 19px;
                    }
                    &:nth-child(2){
                        font-size: 25px;
                        font-weight: bold;
                    }
                    &:nth-child(3){
                        font-size: 15px;
                    }
                }
                a {
                    text-align: center;
                    background-color: $blue;
                    color: white;
                    font-size: 14px;
                    padding: 7px 15px;
                    border-radius: 40px;
                }
            }
        }
        .mycard{
        cursor: pointer;
        overflow: hidden;
        
      
           ul{
            li{
                margin: 10px 0;
              
                &:nth-child(1){
                    font-weight: bold;
                    font-size: 14px;
                    &:hover{
                        color: #233A95;
                    }
                }
                &:nth-child(2){
                    p{
                        font-size: 12px;
                        color: #00B853;
                        font-weight: bold;
                        span{
                            margin-right: 10px;
                            color: gray;
                            font-weight: normal;
                        }
                    }
                }
                &:nth-child(3){
                    i{
                        font-size: 12px;
                        color: #FFCD00;
                    }
                }
                &:nth-child(4){
                    span{
                        &:nth-child(1){
                            color: gray;
                            font-size: 12px;
                        }
                        &:nth-child(2){
                            color: #D51243;
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }

               
              
            } 
           
            .btn-add{
                text-align: center;
                opacity: 0;
                visibility: 0;
                a{
                    background-color: #233A95 !important;
                    border-radius: 50px!important;
                    padding: 5px 30px!important;
                }
            }
          
        } 
        &:hover {
            overflow: visible;
            z-index: 121;
        }

        &:hover .btn-add{
            opacity: 1 !important;
            z-index: 12;
            visibility: 1 !important;
         } 
         
        
         
        }

         .secondlg4{
            
             .top{
                a{
                    display: block;
                    color: rgb(77, 77, 77);
                    margin: 20px;

                    &:hover{
                        color:#2BBEF9;
                    }
                }
             }
             .bottom{
                
                 a{
                     color: #233A95;
                     margin-left: 20px;
                 }
             }
             
         }
        
    }
    
}
#Section8 {
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;

    .text {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        padding: 25px 0;
        background-color: #FFEEF2;

       span{
        a {
            color: #ED174A;
        }

        
           &:nth-child(1){
               font-size: 18px;
               a{
                      &:nth-child(2){
                          text-decoration: underline;
                          font-weight: bold;
                      }
               }
            
           }
           .btn {
            border: 1px dotted red;
            border-radius: 30px;
            padding: 8px 35px;
            border-width: 2px;
        }
       }
     
    }
}
#Section10{
    font-family: Arial, Helvetica, sans-serif;
    .all{
        padding-left: 0 !important;
        border: 0.1px solid rgba(221, 221, 221, 0.623);
        border-radius: 10px;

        .left-box{
             background-image: url("/image/category-banner-2.jpg");
             background-position: center;
             background-size: cover;
             border-top-left-radius: 10px;
             position: relative;
        
            .text{
                
               position: absolute;
               top: 10%;
               left: 10%;
                
                p{
                    margin: 20px 0;
                    &:nth-child(1){
                        font-size: 19px;
                    }
                    &:nth-child(2){
                        font-size: 25px;
                        font-weight: bold;
                    }
                    &:nth-child(3){
                        font-size: 15px;
                    }
                }
                a {
                    text-align: center;
                    background-color: $blue;
                    color: white;
                    font-size: 14px;
                    padding: 7px 15px;
                    border-radius: 40px;
                }
            }
        }
        .mycard{
        cursor: pointer;
        overflow: hidden;
        
      
           ul{
            li{
                margin: 10px 0;
              
                &:nth-child(1){
                    font-weight: bold;
                    font-size: 14px;
                    &:hover{
                        color: #233A95;
                    }
                }
                &:nth-child(2){
                    p{
                        font-size: 12px;
                        color: #00B853;
                        font-weight: bold;
                        span{
                            margin-right: 10px;
                            color: gray;
                            font-weight: normal;
                        }
                    }
                }
                &:nth-child(3){
                    i{
                        font-size: 12px;
                        color: #FFCD00;
                    }
                }
                &:nth-child(4){
                    span{
                        &:nth-child(1){
                            color: gray;
                            font-size: 12px;
                        }
                        &:nth-child(2){
                            color: #D51243;
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }

               
              
            } 
           
            .btn-add{
                text-align: center;
                opacity: 0;
                visibility: 0;
                a{
                    background-color: #233A95 !important;
                    border-radius: 50px!important;
                    padding: 5px 30px!important;
                }
            }
          
        } 
        &:hover {
            overflow: visible;
            z-index: 121;
        }

        &:hover .btn-add{
            opacity: 1 !important;
            z-index: 12;
            visibility: 1 !important;
         } 
         
        
         
        }

         .secondlg4{
            
             .top{
                a{
                    display: block;
                    color: rgb(77, 77, 77);
                    margin: 20px;

                    &:hover{
                        color:#2BBEF9;
                    }
                }
             }
             .bottom{
                
                 a{
                     color: #233A95;
                     margin-left: 20px;
                 }
             }
             
         }
        
    }
}
#Section11{
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;

    .cart {
        .image {
            position: relative;

            img {
                width: 100%;
                border-radius: 8px;

            }

            .text {
                position: absolute;
                left: 8%;
                top: 25%;

                ul {
                    list-style: none;

                    li {
                        padding-left: 0;

                        // padding: 5px 0;
                        a {
                            text-align: center;
                            background-color: #C2C2D3;
                            color: white;
                            font-size: 14px;
                            padding: 8px 20px;
                            border-radius: 40px;

                            i {
                                margin-left: 5px;
                            }
                        }
                        
                        &:nth-child(1){
                            letter-spacing: -1px;
                        }
                        &:nth-child(2){
                            font-weight: bold;
                            font-size: 25px;
                        }
                    }

                    .liweek {
                        color: #00B853;
                        font-weight: 500;
                    }


                }
            }
        }
    }
}
#Section12 {
    font-family: Arial, Helvetica, sans-serif;
    .all {
        border-radius: 10px;
        border: 0.5px solid rgba(173, 173, 173, 0.596);
        margin: 0;

        .left {
            text-align: center;

            img {
                width:70%;
            }
        }

        .right {
            ul {
                list-style: none;
                padding-left: 0;

                li {
                    padding-left: 0;

                    span {
                        font-size: 12px;
                    }
                    &:nth-child(1){
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }

        .box {

            padding: 10px 5px;
            border-right: 0.5px solid rgba(173, 173, 173, 0.596);
            border-bottom: 0.5px solid rgba(173, 173, 173, 0.596);



        }
    }
}
@media screen and (max-width: 576px){
    #Section1{
        .img1{
            height: 300px;
        }
        .img2{
            height: 450px;
        }
        .left{
            position: relative;
            .left-text {
                position: absolute;
                top: 9%;
                left: 9%;
                
                .center1{
                    h1 {
                        font-weight: bold;
                        width: 70%;
                        font-size: 20px;
                    }
                }
                .center2{
                    p{
                        width: 70%;
                    }
                }
    
               
            }
        }
    }
    #Section2{
    img {
        height: 200px;
    }

    .left,
    .right {
        position: relative;

        .text {
            position: absolute;
            top: 20%;
            left: 50%;

            p{
                // margin-top: 10px;
                &:nth-child(2){
                    font-weight: bold;
                    font-size: 1.475rem;
                }
                &:nth-child(1){
                    font-size: 1rem;
                }
                &:nth-child(3){
                    font-size: 0.75rem;
                    color: gray;
                    margin-bottom: 20px;
                }
            }
        }

    }
    }
    #Section3,#Section6,#Section9{
        .left{
            p{
                font-size: 10px;
                margin-top: 10px;
            }
        }
       
    }
    #Section5{
        .text {
            
            height: 400px;
           
    
            .secure {
                img{
                    width: 90%;
                }
                position: absolute;
                left: 5%;
                top: 51%;
    
            }
            .middle{
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
                text-align: center;
                height: 300px;
                .right{
                    text-align: center;
                    margin-top: 20px;
                   
                }
            }
    
        
    
        }
    }
    #Section8{
        .text {
            
            flex-direction: column;
            grid-gap: 10px;
         
        }
    }
    
    
   
}