#ShopWide{
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    .all{
        ul{
            li{
                display: flex;
                justify-content: space-between;
            }
        }
        .filterbyprice{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction:column;

            #app {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                flex-direction: column;
              }
            
            .range-value{
                position: absolute;
                top: -2rem;
              }
              .range-value.min{
                left: 0;
              }
            
              .range-value.max{
                right: 0;
              }
              .track-container{
                width: 100%;
                position: relative;
                cursor: pointer;
                height: 0.5rem;
              }
            
              .track,
              .track-highlight {
                display: block;
                position: absolute;
                width: 100%;
                height: 0.5rem;
              }
            
              .track{
                background-color: #ddd;
              }
            
              .track-highlight{
                background-color: black;
                z-index: 2;
              }
            
              .track-btn{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
                cursor: pointer;
                display: block;
                position: absolute;
                z-index: 2;
                width: 1.5rem;
                height: 1.5rem;
                top: calc(-50% - 0.25rem);
                margin-left: -1rem;
                border: none;
                background-color: black;
                -ms-touch-action: pan-x;
                touch-action: pan-x;
                transition: box-shadow .3s ease-out,background-color .3s ease,-webkit-transform .3s ease-out;
                transition: transform .3s ease-out,box-shadow .3s ease-out,background-color .3s ease;
                transition: transform .3s ease-out,box-shadow .3s ease-out,background-color .3s ease,-webkit-transform .3s ease-out;
              }
        }

        .mycard{
            cursor: pointer;
            overflow: hidden;
            
          
               ul{
                li{
                    margin: 10px 0;
                  
                    &:nth-child(1){
                        font-weight: bold;
                        font-size: 14px;
                        &:hover{
                            color: #233A95;
                        }
                    }
                    &:nth-child(2){
                        p{
                            font-size: 12px;
                            color: #00B853;
                            font-weight: bold;
                            span{
                                margin-right: 10px;
                                color: gray;
                                font-weight: normal;
                            }
                        }
                    }
                    &:nth-child(3){
                        i{
                            font-size: 12px;
                            color: #FFCD00;
                        }
                    }
                    &:nth-child(4){
                        span{
                            &:nth-child(1){
                                color: gray;
                                font-size: 12px;
                            }
                            &:nth-child(2){
                                color: #D51243;
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                    }
    
                   
                  
                } 
               
                .btn-add{
                    text-align: center;
                    opacity: 0;
                    visibility: 0;
                    a{
                        background-color: #233A95 !important;
                        border-radius: 50px!important;
                        padding: 5px 30px!important;
                    }
                }
              
            } 
            &:hover {
                overflow: visible;
                z-index: 121;
            }
    
            &:hover .btn-add{
                opacity: 1 !important;
                z-index: 12;
                visibility: 1 !important;
             } 
             
            
             
            }
}
}